/* COLORS */
$lightgrey: #C1C1C1;
$darkgrey: #333;

/* GLOBAL THINGS */
html {
	color: black;
}
a {
	&:active {
		color: green;
	}
}

/* MAIN */
#header {
	/* solid background color to cover up the #header-backdrop */
	background-color: white;
}

$status-background-color: lightblue;
$status-success-background-color: green;
.status-message {
	color: white;
	border-color: $status-background-color;
	background-color: $status-background-color;
	&.success {
		border-color: $status-success-background-color;
		background-color: $status-success-background-color;
	}
}

.days-of-week {
	color: $darkgrey;
}
.today-num {
	color: white;
}
.today-num-background-text {
	color: green;
}

#times-gutter {
	color: $lightgrey;
}

$hour-line-color: black;
#content-of-week-backdrop .hour {
	border-color: $hour-line-color;
}
#content-of-week-backdrop .last-hour {
	border-color: $hour-line-color;
}
#content-of-week td {
	/* by some insane glitch, the padding doesn't work unless a background color is set and not transparent */
	background-color: white;
}

/* EVENTS */
.calendar-event {
	color: #008A16;
	background-color: #DAF2D3;
}
.forecast {
	/* colors and opacity populated by javascript */
}

/* FOOTER */
footer > div {
	color: $lightgrey;
	&:hover {
		color: $darkgrey;
	}
}
footer a {
	color: $lightgrey;
	&:hover {
		color: $darkgrey;
	}
}

